{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h3 class="mb-0">Подтверждение email</h3>
                </div>
                <div class="card-body">
                    <p class="lead">Ваш email успешно подтверждён! Теперь вы можете войти в систему.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
