{% extends "base.html" %}

{% block content %}
    <h1>Добро пожаловать в КВт идей!</h1>
    <p>Здесь можно предложить инновации, обсудить их с экспертами и внести вклад в развитие технологий.</p>

    <h2>Что вы хотите сделать?</h2>
    <ul>
        <li><a href="/applicationpage/">Подать заявку</a> – предложите свою идею</li>
        <li><a href="/dashboard/">Мои заявки</a> – посмотрите статус ваших предложений</li>
        <li><a href="/dashboard/">Оценить заявки</a> – если вы эксперт</li>
    </ul>

    <br><br>
    <a href="/applicationpage/">Подать заявку</a>
{% endblock %}
